---
layout: default
---
<article>

  <header>
    <h1 style="margin-bottom: 0.25em">{{ page.title | escape }}</h1>
  </header>

  <section>
    {{ content }}
  </section>
  <section style='margin-top: 75pt'>
    <ul id="lightSlider">
      <li>
          <h3>First Slide</h3>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
      </li>
      <li>
          <h3>Second Slide</h3>
          <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
      </li>
      <li>
          <h3>Third Slide</h3>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
      </li>
      <li>
          <h3>Fourth Slide</h3>
          <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
      </li>
    </ul>
  </section>

</article>
