---
layout: default
---
<article>

  <header>
    <h1 style="margin-bottom: 0.25em">{{ page.title | escape }}</h1>
  </header>

  <section>
    {{ content }}
  </section>
  <section style='margin-top: 75pt'>
    <ul id="lightSlider">

      {% assign all_projects = site.proj_pages %}
        {% for page_num in page.mod_pages %}
        
          <li class="nav-item">
            <h5><a href="{{ all_projects[page_num].page_url }}"> {{ all_projects[page_num].page_title }} </a></h5>
            <p> {{ all_projects[page_num].description }} </p>
          </li>
        
        {% endfor -%}
<!--        
      <li>
          <h4> First Slide </h4>
          <p>Lorem ipsum Cupidatat quis pariatur anim.Lorem ipsum Cupidatat quis pariatur anim.Lorem ipsum Cupidatat quis pariatur anim.Lorem ipsum Cupidatat quis pariatur anim.</p>
      </li>
      <li>
          <h4>Second Slide</h4>
          <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
      </li>
      <li>
          <h4>Third Slide</h4>
          <p>Lorem ipsum Cupidatat quis pariatur anim.</p>
      </li>
      <li>
          <h4>Fourth Slide</h4>
          <p>Lorem ipsum Excepteur amet adipisicing fugiat velit nisi.</p>
      </li>
-->
    </ul>
  </section>

</article>
