---
layout: default
---
<article>

  <header>
    <h1 style="margin-bottom: 0.25em">{{ page.title | escape }}</h1>
  </header>

  <section>
    {{ content }}
  </section>
  <section style='margin-top: 75pt'>
    <ul id="lightSlider">

      {% assign all_projects = site.proj_pages %}
        {% for page_num in page.mod_pages %}
        
          <a href="{{ all_projects[page_num].page_url }}">
            <li class="nav-item">
              <h5> {{ all_projects[page_num].page_title }} </h5>
              <p> {{ all_projects[page_num].description }} </p>
            </li>
          </a>
        
        {% endfor -%}
<!--
  <h5><a href="{{ all_projects[page_num].page_url }}"> {{ all_projects[page_num].page_title }} </a></h5>
-->
    </ul>
  </section>

</article>
